.app {
    text-align: center;
    padding: 20px;
  }
  
  .btn-open {
    padding: 12px 24px; /* Increased padding */
    font-size: 18px; /* Slightly larger font size */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px; /* More rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .btn-open:hover {
    background-color: #0056b3;
  }
  

  .edit-container{
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
  }

 