.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .header > * {
    flex: 1;
    text-wrap: initial;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
  }

  .header .email {
    flex:2;
  }

  .header:last-child {
    text-align: center;
  }